body {
    padding: 5rem;
}

table,
tr,
th {
    text-align: center;
    padding: 1rem;
    margin-right: 1rem;
    border: 2px solid black;
    border-collapse: collapse;
    background-color: cadetblue;
    width: 50%;
}

form {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: antiquewhite;
}

table td+td {
    border-left: 2px solid black;
    padding: 1rem;
}

button {
    margin: 0.5rem;
}